body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    display: flex;
    padding: 1em;
    background-color: #333;
}
form{
    padding: 1em;
    color:#333;
    text-align:center;
}
legend{
    font-weight: bold;
    color:rgb(255, 98, 0);
    font-size: 1.5em;
}

input[type=submit]{
    background-color: #333;
    color:rgb(255, 98, 0);
    font-size: 1.2em;
    border: 1pt solid #333;
}
#login{
    float:left;
    display: flex;
    background-color: #eee;
    margin:2em 2em 2em 15em;
    
}
#signup{
    display: flex;
    background-color: #eee;
    float:right;
    margin:2em 15em 2em 2em;

}
#createpost{
    margin:2em;
    display: flex;
    background-color: #eee;
    width:60%;
    

}
#createpost form{
    width:100%;
    text-align: left;
}
#createpost textarea{
    width: 80%;
}
#createpost input[type=text]{
    width: 80%;
    height:20%;
}
a:link{
    text-decoration: none;
}
a:visited{
    color:rgb(255, 98, 0);
}